body {
    background-color: bisque;
    
}
img{
    display: block;
    justify-content: center;
    margin: auto;
    width: 50%;

}
table ,th, td, tr{
    border: 1px solid black;
    min-width:  80%;
    border-collapse: collapse;
    margin: auto;
    font-size: 1em;
    text-align: center;
}
h1 {
    text-align: center;
}
button{
    text-align: center;
    display: flex;
    margin: auto;
}
.titulos{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: brown;
}
h2{
    text-align: center;
}